* {
    box-sizing: border-box;
}

:root {
    --light: #F5F5F5;
    --white: #FFFFFF;
    --grey: #C6C6C6;
}

body {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
}

body,
#root {
    background-color: var(--light);
}

/* fixed header layout */

header {
    width: 375px;
    margin-inline: auto;
    padding-inline: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey);
}

.brand-logo {
    width: 127px;
    height: auto;
}

.user-avatar {
    width: 34px;
    height: 34px;
    background: linear-gradient(45deg, whitesmoke, lightblue);
    border-radius: 50%;
}

/* --- dynamic content layout below --- */

/* typography */

.bold {
    font-size: .81rem;
    font-weight: 800;
}

.regular {
    font-size: .75rem;
    font-weight: 400;
}

/* structure */

#root {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: auto;
    max-width: 375px;
    min-width: 375px;
}

#main-container {
    background-color: var(--white);
}

.avatar-pic {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.avatar-section {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-name {
    margin-bottom: 0;
}

.avatar-location {
    margin-top: 4px;
}

.pic-section .post-image {
    width: 375px;
    height: 375px;
}

.icon-bar {
    margin-top: 16px;
    width: 104px;
    height: 22.13px;
    display: flex;
    justify-content: space-between;
}

.icon-bar img:hover {
    translate: 1px 1px 1px;
    scale: 1.1;
    opacity: .7;
}

.response-section,
.user-post-section {
    padding-left: 10px;
    margin-top: 0;
}